/*
 *  @(#) $Id: target_serial.cfg 1309 2008-08-27 07:48:51Z ertl-honda $
 */

/*
 *  SIOドライバ（CQ-STARM用）のコンフィギュレーションファイル
 */

#include "target_serial.h"
ATT_INI({ TA_NULL, 0, sio_initialize });
ATT_ISR({ TA_NULL, SIO_PORTID, INTNO_SIO, sio_isr, 1 });
CFG_INT(INTNO_SIO, { TA_ENAINT|INTATR_SIO, INTPRI_SIO });
